/* CSS declarations go here */
h1 {
	text-align: center;
	font-weight: bold;

}
h2 {
	text-align: center;
}
body {
    color: white;
	font-size: 20;
	text-shadow: 1px 1px 1px #000;
	font-family: Tahoma;
    background: url('/Images/hexabump.png');
}

td {
	margin: 25px;

	/*border: 1px solid #eee;*/

	/*Transition*/
	-webkit-transition: all 0.25s ease;
	-moz-transition: 	all 0.25s ease;
	-o-transition: 		all 0.25s ease;
}
th {
	margin: 25px;

	border: 1px solid #eee;

	/*Transition*/
	-webkit-transition: all 0.25s ease;
	-moz-transition: 	all 0.25s ease;
	-o-transition: 		all 0.25s ease;
}
table {
<<<<<<< HEAD
=======


>>>>>>> origin/layout
	color: #F0FFFF;
	font-weight: bold;
	border-collapse: separate;
	border-spacing:0px 10px;
	width: auto;
	margin-left: auto;
	margin-right: auto;

	
}
tr {
	/*background-color: #3366FF;*/
}

th:first-child {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	width: auto;
}

th:last-child {
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
}		

th {
	background-color: #191919;
	/*box-shadow: 7px 3px 10px 2px black;*/
	padding: 5px;
	margin: 5px;
	text-shadow: 1px 1px 1px #000;
}

tr > td:first-child {

	width: auto;
	white-space: nowrap;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	width: auto;
	overflow: hidden;
	white-space: nowrap;
}

tr > td:last-child {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

td {
	text-align: center;
	padding: 5px;
	margin: 5px;
	/*box-shadow: 5px 3px 10px 2px black;*/
	text-shadow: 1px 1px 1px #000;
}

th:hover {
	opacity: 1;
	-webkit-box-shadow: inset 0px 0px 20px rgba(255,255,255,0.8);
		-moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
		box-shadow: inset 0px 0px 20px rgba(255,255,255,0.8);
		cursor: pointer;
		-webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}
.remove {
	background-color: red;
	font-weight: bold;
	color: white;
}

#bid_list {
	padding-right: 2px;
}
#header {
    /*background-color: #3366FF;*/
    margin: auto;
<<<<<<< HEAD
}
#wrapper {
    margin: auto;

}
=======
    display: compact;
}
#wrapper {
    margin: auto;
}
#login {
    align: center;
}
>>>>>>> origin/layout
